# ==============================================================================
# Variáveis de ambiente
# ==============================================================================
.env

# ==============================================================================
# Arquivos do PyTest
# ==============================================================================
.pytest_cache

# ==============================================================================
# IDE
# ==============================================================================
.vscode